body {
  font-family: 'poppins', sans-serif, 'open-sans';
  max-width: 1440px;
  margin: auto;
}

* {
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  position: relative;
  z-index: 12;
}

.navbar {
  background-color: #fff;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar .navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-content .navbar-link {
  margin: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  background-color: #fff;
}

.navbar .navbar-content .navbar-link a {
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #181818;
}

.navbar .navbar-content .navbar-link li:hover {
  background: #ebebeb;
}

.navbar .navbar-content .logo {
  color: #877a58;
  font-family: "poppins", sans-serif;
  font-weight: 800;
  font-size: 30px;
}

.navbar .navbar-content .toggle-button {
  position: absolute;
  top: 0.2rem;
  right: 0.7rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #181818;
  width: 30px;
  height: 21px;
}

.navbar .navbar-content .bar {
  height: 3px;
  width: 100%;
  background-color: #181818;
  border-radius: 10px;
}

.navbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  background: #aeac99;
  z-index: 10;
}

.hero-content {
  position: relative;
  height: 75vh;
  background-color: #fff;
}

.hero-content .hero-intro {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 58%;
  background-color: #fff;
}

.hero-content .hero-intro h1 {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-size: 43px;
  line-height: 72px;
}

.hero-content .hero-intro .subhead {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.hero-content .hero-intro .view-projects {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fafafa;
  background-color: #877a58;
  line-height: 30px;
  margin-top: 1rem;
  padding: 0.3rem 1.2rem;
}

.hero-content .hero-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content .container {
  height: 100%;
}

.hero-content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  background-image: url("./images/home.png");
  background-size: cover;
  height: 75vh;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 10;
}

.About {
  padding-top: 60px;
  padding-bottom: 60px;
}

.About .about-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
}

.About .about-intro .about-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.About .about-intro .about-img img {
  width: 100%;
}

.About .about-intro .about-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  text-align: left;
}

.About .about-intro .about-content .title {
  font-weight: 600;
  font-family: "poppins", sans-serif;
  font-size: 45px;
  padding-bottom: 2px;
}

.About .about-intro .about-content .desc {
  font-weight: 400;
  font-family: "poppins", sans-serif;
  font-size: 25px;
  line-height: 45px;
}

.About .about-intro .about-content .read-more {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #fafafa;
  background-color: #877a58;
  line-height: 25px;
  margin-top: 1rem;
  padding: 0.3rem 1.2rem;
}

.gallery {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #877a58;
}

.gallery .d-gallery {
  color: #fff;
}

.gallery .d-gallery h2 {
  text-align: center;
  padding-top: 1.8rem;
  padding-bottom: 0.5rem;
}

.gallery .d-gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  gap: 15px;
}

.gallery .d-gallery ul .active {
  color: #000;
}

.gallery .d-gallery .feature {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  padding-left: 3rem;
  padding-right: 3rem;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3em;
}

.gallery .d-gallery .feature img {
  width: 100%;
}

.gallery .d-gallery .feature .content {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.gallery .d-gallery .feature .title {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.gallery .d-gallery .feature .desc {
  padding-bottom: 0.3rem;
}

.gallery .d-gallery .view-all {
  display: none;
}

.services {
  padding-top: 60px;
  padding-bottom: 60px;
}

.services .more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
}

.services .more-info .service-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.services .more-info .service-image img {
  width: 100%;
}

.services .more-info .service-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.services .more-info .service-container h2 {
  font-weight: 600;
  font-family: "poppins", sans-serif;
  font-size: 45px;
  padding-bottom: 10px;
}

.services .more-info .service-container .service-content .service-title {
  font-weight: 400;
  font-family: "poppins", sans-serif;
  font-size: 30px;
  padding-bottom: 15px;
  line-height: 35px;
}

.services .more-info .service-container .service-content .service-desc {
  font-weight: 400;
  font-family: "poppins", sans-serif;
  font-size: 22px;
  padding-bottom: 12px;
  line-height: 35px;
}

.contact {
  width: 100%;
  background-image: url("./images/home.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact .contact-photo {
  padding: 40px 15px;
  background-color: #fafafa;
}

.contact .contact-photo .contact-heading {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 1em;
}

.contact .contact-photo .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
}

.contact .contact-photo .contact-info .contact-map {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 33%;
}

.contact .contact-photo .contact-info .contact-map h3 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0em;
  line-height: 72px;
  padding-bottom: 1.5rem;
  color: #877a58;
}

.contact .contact-photo .contact-info .contact-map img {
  width: 100%;
}

.contact .contact-photo .contact-info .contact-map .table .td {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

.contact .contact-photo .contact-info .contact-map .table .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
}

.contact .contact-photo .contact-info .contact-map .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5em;
  width: 100%;
}

.contact .contact-photo .contact-info .contact-map .icons i {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  padding-top: 10px;
}

.contact .contact-photo .contact-info .form-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding-bottom: 1.5em;
  width: 100%;
}

.contact .contact-photo .contact-info .form-name .name {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 50%;
}

.contact .contact-photo .contact-info .form-name .email {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 50%;
}

.contact .contact-photo .contact-info .form-name input {
  width: 100%;
  padding: 15px;
}

.contact .contact-photo .contact-info .contact-form {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 66%;
}

.contact .contact-photo .contact-info .title {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0em;
  padding-bottom: 1.5rem;
}

.contact .contact-photo .contact-info form label {
  font-family: "Open-sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
}

.contact .contact-photo .contact-info .contact-textarea * {
  display: block;
}

.contact .contact-photo .contact-info .contact-textarea textarea {
  width: 100%;
}

.contact .contact-photo .contact-info .contact-textarea input {
  font-family: "Open-sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  padding: 5px 10px;
  margin-top: 10px;
}

.footer-content {
  margin-top: 60px;
  background-color: #181818;
}

.footer-content .container .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 15px;
  padding-top: 30px;
}

.footer-content .container .footer-flex .footer-toggle-button {
  color: #000;
  display: none;
}

.footer-content .container .footer-flex .footer-logo {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0em;
  color: #877a58;
}

.footer-content .container .footer-flex .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.footer-content .container .footer-flex .footer-link a {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  color: #fafafa;
}

.footer-content .container .footer-flex .copyright {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #c4c4c4;
}

@media (max-width: 768px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar .navbar-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar .navbar-content .navbar-link {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
  }
  .navbar .navbar-content .navbar-link li {
    text-align: center;
  }
  .navbar .navbar-content .navbar-link li a {
    padding: 0.5rem 1rem;
  }
  .navbar .navbar-content .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .navbar-content .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .navbar-content .logo {
    font-size: 20px;
  }
  .navbar::after {
    width: 40%;
  }
  .hero-content::after {
    width: 60%;
    background-position-x: 65%;
    background-position-y: 65%;
  }
  .hero-intro {
    padding-right: 10px;
  }
  .About .about-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .About .about-intro img {
    width: 100%;
  }
  .About .about-intro .about-content {
    width: 100%;
  }
  .About .about-intro .about-content .desc {
    font-size: 18px;
    line-height: 30px;
    word-wrap: break-word;
  }
  .more-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .more-info img {
    width: 100%;
  }
  .more-info .service-content {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar .navbar-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbar .navbar-content .navbar-link {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
  }
  .navbar .navbar-content .navbar-link li {
    text-align: center;
  }
  .navbar .navbar-content .navbar-link li a {
    padding: 0.5rem 1rem;
  }
  .navbar .navbar-content .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .navbar-content .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .navbar-content .logo {
    font-size: 20px;
  }
  .navbar::after {
    width: 40%;
  }
  .hero-content::after {
    width: 60%;
    background-position-x: 65%;
    background-position-y: 65%;
  }
  .hero-content .hero-intro {
    width: 74%;
  }
  .hero-content .hero-intro h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    word-wrap: break-word;
  }
  .hero-content .hero-intro .subhead {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    max-width: 180px;
  }
  .hero-content .hero-intro .view-projects {
    font-size: 18px;
    line-height: 27px;
  }
  .About .about-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .About .about-intro img {
    width: 100%;
  }
  .About .about-intro .about-content {
    width: 100%;
  }
  .About .about-intro .about-content .desc {
    font-size: 18px;
    line-height: 30px;
    word-wrap: break-word;
  }
  .container .view-all {
    display: block;
    color: #fafafa;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .container .d-gallery .feature {
    display: block;
    padding: 1rem;
  }
  .container .d-gallery ul {
    display: none;
  }
  .more-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .more-info img {
    width: 100%;
  }
  .more-info .service-content {
    width: 100%;
  }
}

.contact .contact-photo .contact-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-photo .contact-info .contact-map {
  width: 100%;
}

.contact .contact-photo .contact-info .form-name {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-photo .contact-info .form-name .name {
  width: 100%;
}

.contact .contact-photo .contact-info .form-name .email {
  width: 100%;
}

.contact .contact-photo .contact-info .contact-form {
  width: 100%;
}

.footer-content {
  background-color: #fafafa;
  border-top: 2px solid #877a58;
}

.footer-content .container .footer-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-content .container .footer-flex .footer-toggle-button {
  color: #000;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-content .container .footer-flex .footer-link {
  display: none;
}
/*# sourceMappingURL=main.css.map */